### IDE
**/.idea
*.iml
*.ipr
*.iws

### ROOT
data/

### COMMON
HELP.md
*.env

### BACK-END
oauth2-back-end/target/
oauth2-back-end/logs/
oauth2-back-end/src/main/resources/*local.yml

### FRONT-END
oauth2-front-end/node_modules/
oauth2-front-end/build/
